.container {
  padding: 20px 0 20px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #c5efd5;
  color: #010101;
}

.title {
  margin-bottom: 25px;
}

.subtitle {
  margin: 25px 0 25px 0;
  color: #270a0a;
  font-style: italic;
}

.title {
  color: #270a0a;
  font-style: italic;
}
.total {
  margin-bottom: 15px;
  font-weight: 500;
  color: #270a0a;
  font-style: italic;
}

.total_count {
  font-weight: 700;
}

.errorMessage {
  margin-top: 70px;
  color: red;
  font-weight: 500;
}


