.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  border-radius: 5px;
  color: #546c8c;
}

.link:active {
  color: #e84a5f;
  background: none;
}
.nav {
  background: none;
}
.nav:active {
  color: #e84a5f;
  background: none;
}
